<ion-header>
  <ion-toolbar>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Buscar dirección"  (ionClear)="ClearAutocomplete()"></ion-searchbar>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item) ">
      {{ item.description }}
    </ion-item>
  </ion-list>

  <ion-label style="font-weight: bold;">{{label_coordenadas}}</ion-label> 
  <ion-label>{{coordenadas}}</ion-label>

  <p>
    <ion-label>¿Está dentro de Asturias? </ion-label>
    <ion-label>{{esta_dentro}}</ion-label>
  </p>

  <div #map id="map"></div>
</ion-content>
