<ion-header class="ion-padding">
  <h1>Buscador de coordenadas</h1> 
</ion-header>
  
<ion-content class="ion-padding">
  
  <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Buscar dirección"  (ionClear)="ClearAutocomplete()"></ion-searchbar>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item) ">
      {{ item.description }}
    </ion-item>
  </ion-list>

  <ion-label style="font-weight: bold;">{{label_coordenadas}}</ion-label> 
  <ion-label>{{coordenadas}}</ion-label>

  <ion-button routerLink="/mapa" expand="block" fill="clear" shape="round">
    Ver mapa
  </ion-button>

</ion-content>